button{
	margin-left:6px;
	margin-top: 5px;
	height: 55px;
	width: 85px;
	font-size: 30px;
	border: 0;
	cursor: pointer;
}
.calculator{
	position: absolute;
	width: 400px;
	height: 440px;
	border: 1px gray solid;
	top: 50%;
	left: 50%;
	margin-top: -220px;
	margin-left: -200px;
}
.disp-block{
	margin-top:5px;
	margin-left: 8px;
	width: 380px;
	height: 60px;
	font-size: 30px;
	text-align: right;
}
.keyboard{
	margin-left: 2px;
}
.cal-line{
	margin-top: 5px;
}
.first-line{
	margin-left: 195px;
}
.percent,
.clear,
.divid,
.mul,
.sub,
.add{
	background-color: gray;
}
.equ{
	background-color: blue;
}
span{
	font-size:10px;
	font-family: "微软雅黑";
	margin-left:140px;
	margin-top: 20px;
}


